<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Expense Tracker</h1>


</div>

<div>

  <div class="">
    <a href="<%= new_expense_path %>" class="column-left expenses-tabs">
      <h4>Add Expense</h4>
    </a>
    <a href="/expenses" class="column-center expenses-tabs">
      <h4>View All Expenses</h4>
    </a>

    <a href="#" class="column-right expenses-tabs">
      <h4>Comming Soon</h4>
    </a>

  </div>
</div>