<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Expense Tracker</h1>


</div>

<div>

  <div class="">
    <a href="<%= new_expense_path %>" class="column-left expenses-tabs">
      <i class="fas fa-plus fa-3x text-info"></i> <h4>Add expense</h4>
    </a>
    <a href="/expenses" class="column-center expenses-tabs">
      <i class="fas fa-eye fa-3x text-info"></i><h4>View All Expenses</h4>
    </a>

    <a href="<%= dashboard_path %>" class="column-right expenses-tabs">
      <i class="fas fa-calendar-alt fa-3x text-info"></i></i><h4>View Expenses by Date</h4>
    </a>

  </div>
</div>