<%= render 'layouts/firebase_init' %>


<!--to get the values from the form-->
<p id="email" style="display: none"><%= @user.email %></p>
<p id="password" style="display: none"><%= @user.email %></p>


<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

<script>

    email = document.getElementById('email').innerText;
    password = document.getElementById('email').innerText;


    firebase.auth().createUserWithEmailAndPassword(email, password).catch(function (error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;

        if (error) {
            alert(errorCode)
            alert(errorMessage)
        } else {

        }

    });


</script>

<%= render 'layouts/welcome' %>