<% provide(:title, "Signed Up") %>
<%= render 'layouts/firebase_init' %>

<!--to get the values from the form-->
<p id="email" style="display: none"><%= @user.email %></p>
<p id="password" style="display: none"><%= @user.password %></p>


<script>

    email = document.getElementById('email').innerText;
    password = document.getElementById('password').innerText;

    firebase.auth().createUserWithEmailAndPassword(email, password).catch(function (error) {
        // Handle Errors here.
        alert(firebase.auth().currentUser)
        var errorCode = error.code;
        var errorMessage = error.message;

        if (error) {
            alert(errorCode);
            alert(errorMessage)
        } else {

        }

    });
    // to check if a user is signed it
    // firebase.auth().onAuthStateChanged(function(user) {
    //     if (user) {
    //         alert(user.email)
    //     } else {
    //         alert( "No user is signed in.")
    //     }
    // });



</script>

<%= render 'layouts/welcome' %>