<% provide(:title, "Expenses") %>
<h1>Expenses</h1>

<div style=" margin:auto;" class="center">

  <% if @first_time %>
    <h3>No records yet</h3>
    <a class="btn btn-warning" href="/">back</a>
    <a class="btn btn-success" href=" <%= new_expense_path %>">new expense</a>
    </div>
  <% else %>
    <% if current_user %>

      <%= render 'layouts/table' %>

    <% end %>
    <br>
    <div id="left"><a class="btn btn-default" href=" <%= new_expense_path %>">new expense</a></div>
  <% end %>

 

