- provide(:title, "New Expense")
.wrapper
  %h1 New Expense
  = render 'form', expense: @expense

  #left
    %a.btn.btn-default{:href => " /"} MAIN MENU
    %a.btn.btn-default{:href => "/expenses"} VIEW ALL
