- provide(:title, "New Expense")
.wrapper
  %h1 New Expense
  = render 'form', expense: @expense
  
   <div id="left"><a class="btn btn-default" href=" /">MAIN MENU</a> <a class="btn btn-default" href="/expenses">VIEW ALL</a></div>
